<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gapotchenko.FX" version="2020.1.15" targetFramework="net472" />
  <package id="Gapotchenko.FX.Diagnostics.Process" version="2020.1.15" targetFramework="net472" />
  <package id="Gapotchenko.FX.Threading" version="2020.1.15" targetFramework="net472" />
</packages>